extends layout
block title
    title Components
block header 
block main
    include 02_main/_components
block footer
block css
    //link(href="css/libs/swiper.css" rel="stylesheet")
    //link(href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
block js
    //script(type='text/javascript' src="js/libs/swiper.js")
    //script(type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")