doctype html
html(lang="en")
    head
        include 00_meta/_meta
        block title
        // Links
        include 04_css-links/_css-links
        // JS
        include 05_js-links/_js-links
    body
        //- include 00_mixins/__preloader
        block mobile

        #page.page
            a(href="#" id="return-to-top")
                i(class="fa fa-chevron-up")

            block header
                include 01_header/_header

            block main

            block footer
                include 03_footer/_footer